<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="page-header">
    <h1>Council Dashboard</h1>
</div>
<div class="container" th:object="${@report}">

    <h1>Categories: <span class="badge" th:text="*{#lists.size(categories)}">0</span></h1>
    <ul class="list-group" th:each="category : *{categories}" th:object="${category}">
        <h2 class="list-group-item-heading" th:text="*{name}"></h2>

        <ul class="list-group-item" th:each="prop : *{proposals}" th:object="${prop}">
            <h4 class="list-group-item-heading"
                th:text="|# *{content} [*{user.firstName} *{user.lastName}]|">
            </h4>

            <p><span class="label label-default">Votes <span th:text="*{votes}">0</span></span></p>

            <ul class="list-group-item" th:each="comment : *{comments}" th:object="${comment}">
                <h5 class="list-group-item-heading" th:text="|*{user.firstName} *{user.lastName}@| +
                                                    *{#dates.format(date, 'dd/MMM/yyyy HH:mm')}">
                </h5><p><span class="label label-default">Votes <span th:text="*{votes}">fail</span></span></p>
                <li class="list-group-item" th:text="*{content}" ></li>
            </ul>
            <h5  class="list-group-item-heading" th:if="*{#lists.isEmpty(comments)}">
                There are no comments for this proposal
            </h5>
        </ul>
        <ul>
            <h4 class="list-group-item-heading" th:if="*{#lists.isEmpty(proposals)}">
                There are no proposals in this category
            </h4>
        </ul>
    </ul>
</div>
</body>
</html>